.container {
  width:960px;
  display:block;
  margin:0 auto;
  background-color:#E0E0E0;
  clear:both;
}
.navitem {
  width:182px;
  padding-top:1em;
  padding-bottom:1em;
  background-color:#C0C0C0;
  margin:5px;
  float:left;
  font-family:helvetica,sans-serif;
  text-align:center;
}
.container h1 {
  display:block;
  text-align:center;
}
nav {
  background-color:#FFC0C0;
  clear:both;
}
.clearfix:after {
  content:" ";
  visibility: hidden;
  display: block;
  height:0;
  clear:both;
}

/* media queries for screen resolution */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width:100%;
  }
  .navitem {
    width:18%;
    margin:1%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width:100%;
  }
  .navitem {
    width:100%;
    margin:2px auto;
    padding-top:0.5em;
    padding-bottom:0.5em;
    display:block;
  }
  .container h1 {
    font-size:24px;
  }
}

@media only screen and (max-width: 479px) {
  .container {
    width:100%;
  }
  .navitem {
    width:100%;
    margin:2px auto;
    padding-top:0.5em;
    padding-bottom:0.5em;
    font-size:10px;
    display:block;
  }
  .container h1 {
    font-size:18px;
  }
}
